#root {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.card {
  min-width: 500px;
  width: 100%;
  padding: 2em 1.5em;
  background-color: #ded8d880;
  backdrop-filter: brightness(0.75) blur(20px);
  border-radius: 1.5em;
  box-shadow: 0 0 25px 0 #3089bc4a;
  transition: box-shadow 0.25s;
  &:hover {
    box-shadow: 0 0 25px 0 #3089bc4a;
  }
}

.card__main{
  font-size: x-large;
}

.card__title,
.card__subtitle {
  text-align: center;
}
.card__body {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.map-container {
  padding-top: 2em;
  width: 50%;
  p{
    font-size: smaller;
    text-align: center;
  }
}
.card__temperature {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.25em;
}
.card__button {
  display: block;
  margin: 1em auto 0 auto;
  background-color: #0000001e;
  backdrop-filter: brightness(1) blur(15px);
  box-shadow: 0 0 25px 0 #3089bc4a;
}
.card__info {
  width: 50%;
  align-items: center;
  text-align: center;
  margin-left: 2em;
}

.card__search{
  display: flex;
  align-items: center;
  justify-content: center;
  input{
    margin: 1em; 
    height: 2.5em;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .card {
    max-width: 90%;
    padding: 1.5em 1em;
  }

  .card__body {
    flex-direction: column;
    align-items: center;
  }

  .map-container {
    width: 100%;
    height: 200px;
  }

  .card__info {
    width: 100%;
    text-align: center;
    margin: 1em 0;
  }

  .map-container {
    width: 70%;
    height: 250px;
  }
}
